/* Tipografías */
@font-face { font-family: 'Gotham Book';
	src: url("../fonts/Gotham-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/Gotham-Book.woff") format("woff"), url("../fonts/Gotham-Book.ttf") format("truetype"), url("../fonts/Gotham-Book.svg#Gotham-Book") format("svg");}
@font-face { font-family: 'Gotham Bold';
	src: url("../fonts/Gotham-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gotham-Bold.woff") format("woff"), url("../fonts/Gotham-Bold.ttf") format("truetype"), url("../fonts/Gotham-Bold.svg#Gotham-Bold") format("svg");}
@font-face { font-family: 'Gotham Medium';
	src: url("../fonts/Gotham-Medium.otf") format("opentype"); }

/* General */
html, body {
	background-color: #000;
	font-family: 'Gotham Book', sans-serif;
}
a {
	text-decoration: none !important;
}

/* Barra superior */
header {
	background-color: #1a1a1a;
	position: fixed;
	top: 0;
	left: 0;
	height: 3em;
	width: 100%;
	z-index: 10;
}
	header #brand{
		display: inline-block;
		background-image: url(../img/logogcba.png); 
		background-size: contain; 
		background-position: center;
		background-repeat: no-repeat;
		width: 160px; 
		height: 3em;
	}